body
{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}

.header
{
    background-size:cover;  
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:20vh;
}

.vc 
{
    display: flex;
    align-items: center;
}
.hc
{
    display: flex;
    justify-content: center;
}